<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Property name="app_log_level" value="DEBUG" />
    <Property name="log_folder" value="./logs" />
    <Property name="log_filename_root" value="andre-i-test" />
    <Property name="log_filename_ext" value="log" />
    <Property name="log_filename" value="${log_filename_root}.${log_filename_ext}" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %5p %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_folder}/${log_filename}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_folder}/${log_filename_root}.${log_filename_ext}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %5p %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>